<!--h1>Angular</h1>
<h2>{{ 'Mi nombre es ' + getNombre() }}</h2>

<input type="text" [(ngModel)]="persona.nombre">
<p>{{ persona.nombre }}</p>

{{ info }}
<app-usuario [persona]="persona" (enviar)="getMensaje($event)"></app-usuario>

<div *ngIf="cursos.length > 0; then siCursos else noCursos"></div>

<ng-template #siCursos>
  Si hay cursos
</ng-template>

<ng-template #noCursos>
  No hay cursos
</ng-template>

<div [hidden]="cursos.length === 0">
  Tengo varios cursos
</div>
<div [hidden]="cursos.length > 0">
  No tengo cursos
</div>

<button (click)="onAgregar()" class="btn btn-primary">Agregar</button>

<ul *ngFor="let persona of personas" [ngSwitch]="persona.hobby">
  <li [ngStyle]="{'color': getColor(persona.hobby)}">
    {{ persona.nombre }} tiene {{ persona.edad }}
    <button (click)="onBorrar(persona)">Borrar</button>
  </li>
  <li *ngSwitchCase="'dibujar'" class="text-warning">
    {{ persona.nombre }} tiene {{ persona.edad }}
    <button (click)="onBorrar(persona)">Borrar</button>
  </li>
  <li *ngSwitchCase="'leer'" class="text-success">
    {{ persona.nombre }} tiene {{ persona.edad }}
    <button (click)="onBorrar(persona)">Borrar</button>
  </li>
  <li *ngSwitchCase="'spa'" class="text-danger">
    {{ persona.nombre }} tiene {{ persona.edad }}
    <button (click)="onBorrar(persona)">Borrar</button>
  </li>
</ul-->

<!--div [style.backgroundColor]="isValid ? 'green' : 'red'"
     [style.color]="isValid ? 'white' : 'pink'">
  CÓDIGO MENTOR
</div>
<hr>

<div [ngStyle]="{'backgroundColor': 'yellow', 'color': 'red', 'font-size.px': '40'}">Hola Mundo</div>

<hr>

<div [ngStyle]="{'backgroundColor': isValid ? 'orange' : 'red'}">Tutoriales</div>

<hr>
<div [ngClass]="{
  'mi-clase-1': isValid,
  'mi-clase-2': isValid,
  'mi-clase-3': isValid
  }">Torvosaurus
</div>

<div>
  <input type="radio" name="colores" (click)="color='green'">Green
  <input type="radio" name="colores" (click)="color='orange'">Orange
  <input type="radio" name="colores" (click)="color='purple'">Purple
</div>
<div [appCambiarColor]="color">Codigo Mentor</div>

<div *ngIf="persona.trabajo">{{ persona.trabajo.telefono }}</div>

<div class="container">
  <div>{{ curso.titulo | uppercase }}</div><hr>
  <div>{{ curso.estudiantes | number }}</div><hr>
  <div>{{ curso.rating | number:'1.2-2' }}</div><hr>
  <div>{{ curso.precio | currency }}</div><hr>
  <div>{{ curso.precio | currency:'AUD' }}</div><hr>
  <div>{{ curso.fechaDeLanzamiento | date }}</div><hr>
</div>

<div>{{ nombre | resumir }}</div-->

<input (keyup.enter)="crearPost(usuarioInput)" type="text" class="form-control" #usuarioInput>
<ul class="list-group">
    <li *ngFor="let post of listaDePosts" class="list-group-item">
        {{ post.title }}
    </li>
</ul>